examples/flow.json
[
    {
        "id": "266851fae1dbdd73",
        "type": "tab",
        "label": "capture debug example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c1bbd198409527ca",
        "type": "group",
        "z": "266851fae1dbdd73",
        "name": "geneterate msg by the capture debug node",
        "style": {
            "label": true
        },
        "nodes": [
            "6d569dfe21e29d49",
            "d4ed3292000345dd",
            "80cbbdf50fd9c5f4",
            "a004530115add30a",
            "2e5c9ce2b3629b44",
            "f91d6afc588fcaf6"
        ],
        "x": 343,
        "y": 409,
        "w": 706,
        "h": 304
    },
    {
        "id": "8e6149500c0ccc07",
        "type": "group",
        "z": "266851fae1dbdd73",
        "name": "generate no debug message from the capture node",
        "style": {
            "label": true
        },
        "nodes": [
            "63f00c88e76d0cf2",
            "450db873635f4603"
        ],
        "x": 1115,
        "y": 597,
        "w": 332,
        "h": 146
    },
    {
        "id": "6d569dfe21e29d49",
        "type": "debug",
        "z": "266851fae1dbdd73",
        "g": "c1bbd198409527ca",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 672,
        "wires": []
    },
    {
        "id": "d4ed3292000345dd",
        "type": "inject",
        "z": "266851fae1dbdd73",
        "g": "c1bbd198409527ca",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 449,
        "y": 578,
        "wires": [
            [
                "6d569dfe21e29d49"
            ]
        ]
    },
    {
        "id": "80cbbdf50fd9c5f4",
        "type": "function",
        "z": "266851fae1dbdd73",
        "g": "c1bbd198409527ca",
        "name": "function generates debug error",
        "func": "node.wanr(\"dasdsad\")",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 828,
        "y": 594,
        "wires": [
            []
        ]
    },
    {
        "id": "a004530115add30a",
        "type": "inject",
        "z": "266851fae1dbdd73",
        "g": "c1bbd198409527ca",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 618,
        "y": 531,
        "wires": [
            [
                "80cbbdf50fd9c5f4"
            ]
        ]
    },
    {
        "id": "295494126854fbc0",
        "type": "debug",
        "z": "266851fae1dbdd73",
        "name": "capture-debug debug node",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 1400,
        "y": 282,
        "wires": []
    },
    {
        "id": "2e5c9ce2b3629b44",
        "type": "function",
        "z": "266851fae1dbdd73",
        "g": "c1bbd198409527ca",
        "name": "function generate warn",
        "func": "node.warn(\"dasdsad\")",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 913,
        "y": 530,
        "wires": [
            []
        ]
    },
    {
        "id": "f91d6afc588fcaf6",
        "type": "inject",
        "z": "266851fae1dbdd73",
        "g": "c1bbd198409527ca",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 756,
        "y": 450,
        "wires": [
            [
                "2e5c9ce2b3629b44"
            ]
        ]
    },
    {
        "id": "63f00c88e76d0cf2",
        "type": "function",
        "z": "266851fae1dbdd73",
        "g": "8e6149500c0ccc07",
        "name": "function generate log - no debug",
        "func": "node.log(\"dasdsad\")",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1281,
        "y": 702,
        "wires": [
            []
        ]
    },
    {
        "id": "450db873635f4603",
        "type": "inject",
        "z": "266851fae1dbdd73",
        "g": "8e6149500c0ccc07",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1231,
        "y": 638,
        "wires": [
            [
                "63f00c88e76d0cf2"
            ]
        ]
    },
    {
        "id": "0d879711fe630336",
        "type": "capture-debug",
        "z": "266851fae1dbdd73",
        "name": "",
        "x": 928,
        "y": 336,
        "wires": [
            [
                "295494126854fbc0"
            ]
        ]
    }
]